<ion-card >
      <img *ngIf="area" alt="Silhouette of mountains" [src]="area_image" />

  <ion-card-header (click)="openArea(area)">
    <ion-card-title>
      <div class="title_bar">
        <h1 slot="middle">{{area.name}} </h1>
      </div>
    </ion-card-title>
    @if(area.distance_from_you) {
    <ion-card-subtitle>
      <ion-icon name="location"></ion-icon>
      {{area.distance_from_you! | distance }}
    </ion-card-subtitle>
    } @else {
    <ion-card-subtitle>
      {{area.updatedAt | date:"dd.MM.yyyy - HH:mm:ss" }}
    </ion-card-subtitle>
    }

  </ion-card-header>

  <ion-card-content>
    <app-occupied-badge slot="end" [occupied]="area.occupied" [capacity]="area.capacity"> </app-occupied-badge>

    <ion-button fill="outline">
      <ion-icon slot="start" name="navigate"></ion-icon>
      Navigation
    </ion-button>
  </ion-card-content>
</ion-card>