<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Schließen</ion-button>
    </ion-buttons>
    <ion-title>{{area.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!form.valid" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (area.borderPoints) {
  <app-map [points]="area.borderPoints" [height]="'50%'" [drawing]="true"  class="half_map"></app-map>

  }

  @if (form) {
    <form [formGroup]="form">
      <ion-item>
        <ion-input formControlName="name" type="text" label="name" label-placement="stacked" placeholder="Parkplatz name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="address" type="text" label="Adresse" label-placement="stacked" placeholder="Straße und Hausnummer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="plz" type="number" label="Postleitzahl" label-placement="stacked" placeholder="38640"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="city" label="Ort" type="text" label-placement="stacked" placeholder="Goslar"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="capacity" label="max. Parkplätze" label-placement="stacked"  placeholder="100"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="imgUrl" label="URL to Image" label-placement="stacked"  placeholder="https://machmit.goslar.de/<path_to_image>"></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle formControlName="disable_tracking">Überwachung ausschalten</ion-toggle>
      </ion-item>
    </form>
  }


</ion-content>
