<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid fixed="true" size="sm">

  <div class="login_container">
    <img src="assets/imgs/mmh_logo.svg">
  
    <form [formGroup]="login_form" class="credential_container">
      <ion-input label="email" labelPlacement="stacked" type="text" formControlName="email"></ion-input>
      <ion-input label="password"  labelPlacement="stacked" type="password" formControlName="password"></ion-input>
      <ion-button (click)="submit()" [disabled]="!login_form.valid"> Login </ion-button>
    </form>


  </div>
    </ion-grid>


</ion-content>